:root {
    --bg-butoon:#f0f0f0;
    --border-buttton: solid 1px #888;
}

.butoon{
    size:1.4em;
    background-color: var(--bg-butoon);
    border: none;
    border-right: var(--border-buttton);
    border-bottom: var(--border-buttton);
    outline: none;

}

.button:active {
    background-color: #ccc;
}

button.double{
    grid-column: span 2;
}

button.triple{
    grid-column: span 3;
}

button.operation{
    background-color: #fab231;
    color: #fff;
}

.button.operation:active{
    background-color: #fa8231cc;
}
